footer {
    background-color: #1E2634;
    text-align: center;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    color: #6c757d;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
}

.svg-footer {
    width: "100%";
    height: "100%";
    padding: 0px;
    margin: 0px;
}