section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Set the height of the section to 100% of the viewport height */
    background-color: #f5f5f5;
    /* Add a light background color */
}


.forgotPassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    /* Add a light border */
    border-radius: 8px;
    /* Add border-radius for rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add a subtle box shadow */
    padding: 20px;
    width: 22%;
    background-color: #fff;
    /* Set background color */
}

.forgotPassword-form label {
    color: black;
}

.input-forgotPassword {
    width: 70%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    /* Add a light border */
    border-radius: 4px;
    /* Add border-radius for rounded corners */

}

.forgotPassword-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

label {
    margin-bottom: 8px;
    /* Add spacing between labels and input fields */
}

.submit {
    margin: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 10px;
}

.button {
    margin: 10px;
}

.text-password {
    width: 70%;
    text-align: center;
    color: #878787;
    font-size: 15px;
}