body {
  background-color: #1E2634;
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: RobotoCondensed-Black;
  text-align: left;
  color: #333;
}

h2 {
  font-family: RobotoCondensed-Ligth;
}

p,
label,
input,
button,
a,
span,
li,
ul,
div,
h3,
h4,
h5,
h6 {
  font-family: RobotoCondensed-Regular;
}

.errors-input {
  color: red;
  font-size: 0.8rem;
}