header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #1E2634;
    border-bottom: 1px solid #00AD9A;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-img {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 50%;
}


.image {
    position: relative;
    left: 14.58%;
    /* left: 140px; */
    width: 27%;
    height: fit-content;
}

.image img {
    width: 100%;
    height: auto;
}

.ul-group {
    display: flex;
    width: 50%;

}

.ul-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.li-items {
    width: 10%;
    display: flex;
}

.button {
    background-color: #1E2634;
    color: white;
    text-decoration: none;
    display: block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 33%;
    height: 100%;
    font-size: 30px;
    padding: 10px 0px 10px 0px;
}

.button:hover {
    background-color: #555b66;
}

p {
    color: white;
    font-size: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}