.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;

}
label {
    display: block;
    margin-bottom: 5px;
}

.form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #ffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    border-radius: 15px;
    width: 60%;
    padding: 0 10px;
}
.form-inputs {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    width: 25%;
}
.form-buttons {
    display: flex; 
    flex-direction: row;
    padding: 10px 0;
    width: 50%;
    justify-content: center;
    margin: 10px;
}
.form-submit {
    display: flex;
    flex-direction: row;


}
.info-block{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #c1c1;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    background-color: #ffff;
}
.form-fields {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    width: 100%;
}
.form-connexion {
    flex-direction: column;
    margin: 10px 10px;
    width: 100%;
}