cors==1.0.1
cryptography==42.0.3
Flask-Argon2==0.3.0.0
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.0
Flask-Migrate==4.0.5
Flask-Script==2.0.6
flask-swagger-ui==4.11.1
gunicorn==21.2.0
mariadb==1.1.9
mysqlclient==2.2.1
node==1.2.1
PyJWT==2.8.0
PyMySQL==1.1.0
pytest==8.0.0
python-dotenv==1.0.1
react==4.3.0
virtualenv==20.25.0